/* 
********
RESET
********
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********
TYPOGRAPHY
********
*/

/* #region */


/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

body {
    font-family: 'Open Sans', sans-serif;
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

/* #endregion */