/* 
********
RESET
********
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body p {
    line-height: 18px;
}

header a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 77px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

main a:visited {
    color: #0000FF;
}

header .arrow-down {
    font-size: 44px;
}

main .billing-period {
    color: #666666;
}

main .section-plans .plan-box .plan .plan-content .features .list-icon {
    font-size: 14px;
}

main .section-freetrial h2 {
    color: #61082b;
}

footer .footer-top,
footer .footer-top a {
    color: #ffffff;
    text-decoration: none;
}

footer .footer-bottom {
    color: #999999;
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

:root {
    --details-main: #0061ff;
    --details-secondary: #ffffff;
    --bg-main: #ffffff;
    --bg-secondary: #b4d0e7;
    --border: #d0d0d3;
}

.flex {
    display: flex;
}

.btn {
    all: unset;
    background-color: var(--details-main);
    padding: 6px 15px;
    color: #ffffff;
}

.btn.jumbo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

.btn.secondary {
    background-color: var(--details-secondary);
    color: #000000;
}

.btn.secondary.border {
    border: 1px solid #000000;
}

.btn.wide {
    padding: 11px 36px;
    flex-grow: 1;
    text-align: center;
}

ul {
    list-style: none;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    display: block;
}

main hr {
    border-color: var(--border);
    border-style: solid;
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

/* Navbar */

header {
    background-color: var(--bg-secondary);
}

header nav {
    height: 80px;
    padding: 0 20px 0;
    background-color: var(--bg-main);
}

header nav .logo-box,
header nav .start-button-box,
header nav .navbar-links ul li {
    align-items: center;
}

header nav .navbar-links {
    flex-grow: 1;
    justify-content: space-between;
}

header nav .navbar-links ul li {
    padding: 0 20px;
}

header nav .navbar-links ul li:hover {
    border-bottom: 2px solid currentColor;
    cursor: pointer;
}

header nav .navbar-links ul li {
    height: 80px;
}

header nav .logo-box {
    margin-right: 20px;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* border-bottom: 2px solid #d3d3d3; */
    box-shadow: 0px 1px 2px #dedede;
}

/* Jumbotron */

header .jumbotron {
    padding-top: 102px;
    position: relative;
    top: 80px;
}

header .jumbotron h1 {
    margin-bottom: 70px;
}

header .jumbotron .jumbo-textbox {
    max-width: 30%;
    padding-right: 20px;
}

header .jumbotron .jumbo-img-box {
    max-width: 70%;
}

header .jumbotron .jumbo-img-box img {
    width: 100%;
}

header .jumbotron .jumbo-textbox .btn {
    margin: 30px 0;
}

header .jumbotron .jumbo-textbox .arrow-down {
    margin: 100px 0 0;
}


/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

main {
    background-color: var(--bg-main);
}

/* Section: Business plans */

main .section-plans {
    margin-top: 165px;
}

main .section-plans h2 {
    margin-bottom: 73px;
}

main .section-plans .radio-box span {
    margin-right: 51px;
}

main .section-plans .radio-box .radio {
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    font-size: 9px;
    text-align: center;
    line-height: 18px;
    color: var(--details-secondary);
    vertical-align: middle;
}

main .section-plans .radio-box .radio.r-one {
    background-color: var(--details-main);
}

main .section-plans .radio-box .radio.r-two {
    border: 2px solid var(--border);
}

main .section-plans .radio-box {
    margin-bottom: 50px;
}

main .plan-box {
    flex-wrap: wrap;
    gap: 50px;
}

main .plan-box .column {
    width: calc((1000px - 100px) / 3);
    flex-grow: 1;
}

main .section-plans .plan-box .plan {
    border: 1px solid var(--border);
}

main .section-plans .plan-box .plan .plan-header {
    text-align: center;
    padding: 11px;
    border-bottom: 1px solid var(--border);
}

main .section-plans .plan-box .plan .plan-content {
    padding: 39px 30px 26px;
    flex-direction: column;
}

main .section-plans .plan-box .plan:last-child .plan-content {
    flex-direction: row;
}

main .section-plans .plan-box .plan .plan-content h3 {
    margin-bottom: 20px;
}

main .section-plans .plan-box .plan .plan-content .plan-price {
    margin-bottom: 10px;
}

main .section-plans .plan-box .plan .plan-content .billing-period {
    margin-bottom: 40px;
}

main .section-plans .plan-box .plan .plan-content li {
    margin-bottom: 28px;
}

main .section-plans .plan-box .plan .plan-content .list-icon {
    margin-right: 5px;
}

main .section-plans .plan-box .plan .plan-content .btn.wide {
    margin-top: 25px;
}

main .section-plans .plan-box .plan .plan-content .buy-now {
    margin: 37px 0 41px;
}

main .section-plans .plan-box .plan hr {
    width: 48px;
}

main .section-plans .plan-box .plan .plan-content h4 {
    margin: 55px 0 38px;
}

main .section-plans .plan-box .plan .plan-content .list-icon.color {
    color: var(--details-main);
}

main .section-plans .plan-box .plan .plan-content p {
    max-width: 650px;
    margin-top: 50px;
}

main .section-plans .plan-box .plan:last-child .plan-content {
    justify-content: space-between;
}

main .section-plans .plan-box .plan:last-child .plan-content .btn.wide {
    margin-top: 0;
}

/* Section: Dropbox partners */

main .section-partners {
    margin-top: 150px;
}

main .section-partners .partners-image {
    max-width: 60%;
    flex-shrink: 0;
}

main .section-partners .partners-image img {
    width: 100%;
}

main .section-partners .partners-text {
    padding: 59px 88px 0 50px;
}

main .section-partners .partners-text h3 {
    margin-bottom: 27px;
}

main .section-partners .partners-text p {
    margin-bottom: 35px;
}

/* Section: Dropbox business info */

main .section-businessinfo h2 {
    margin-top: 169px;
    margin-bottom: 90px;
}

main .section-businessinfo .plan-box .feat img {
    width: 100%;
}

main .section-businessinfo .plan-box .feat h3 {
    margin-bottom: 40px;
}

main .section-businessinfo {
    margin-bottom: 215px;
}

/* Section: Dropbox partner companies */

main .section-partnercompanies h2 {
    max-width: 60%;
    margin-bottom: 55px;
}

main .section-partnercompanies .container-small {
    margin-bottom: 150px;
}

main .section-partnercompanies .logo-banner {
    justify-content: space-between;
}

main .section-partnercompanies .logo-banner .company-logos {
    width: 34vw;
    height: 34vw;
    flex-wrap: wrap;
    flex-shrink: 0;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square {
    width: 50%;
    height: 50%;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square {
    justify-content: center;
    align-items: center;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square img {
    width: 50%;
    filter: invert(1);
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-one {
    background-color: #a2d39b;
    border: 0.8vw solid #d1e9cd;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-two {
    background-color: #61082b;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-three {
    background-color: #0093ce;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-four {
    background-color: #ff1c1c;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-five {
    background-color: #d5001f;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-six {
    background-color: #b4d0e7;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-seven {
    background-color: #0d2481;
}

main .section-partnercompanies .logo-banner .company-logos .logo-square.l-eight {
    background-color: #ffd830;
}

main .section-partnercompanies .featured-company {
    flex-grow: 1;
    padding: 40px 50px;
    overflow-y: scroll;
    height: 34vw;
}

main .section-partnercompanies .featured-company .featured-logo {
    width: 55%;
}

main .section-partnercompanies .featured-company .featured-logo img {
    width: 100%;
}

main .section-partnercompanies .logo-banner .featured-company hr {
    width: 100px;
    margin: 45px 0;
}

main .section-partnercompanies .logo-banner .featured-company p {
    margin-bottom: 56px;
}

/* Section: Free trial */

main .section-freetrial {
    background-color: var(--bg-secondary);
}

main .section-freetrial > div {
    justify-content: space-between;
    align-items: baseline;
    padding: 130px 0;
}

main .section-freetrial h2 {
    max-width: 50%;
}

main .section-freetrial .btn {
    max-width: 20%;
}

/* Section: FAQ */

main .section-faq {
    padding: 164px 0 150px;
}

main .section-faq h2 {
    margin-bottom: 72px;
}

main .section-faq .faq-item .faq-question {
    padding: 44px 0;
    justify-content: space-between;
}

main .section-faq .faq-item .faq-question i {
    margin-right: 45px;
}

main .section-faq .faq-item p {
    margin-bottom: 44px;
    display: none;
}

main .section-faq .faq-item:hover p {
    display: block;
}

main .section-faq .faq-item:hover i {
    transform: rotate(0.5turn);
}

/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

footer {
    background-color: #000000;
    border-bottom: 1px solid white;
    padding: 109px 0 52px;
}

footer hr {
    border-color: #ffffff;
    border-style: solid;
    width: 120px;
}

footer .footer-top .footer-links {
    margin-bottom: 119px;
    justify-content: space-between;
}

footer .footer-top .footer-links h3 {
    margin-bottom: 42px;
}

footer .footer-top .footer-links li {
    margin-bottom: 20px;
}

footer .footer-bottom .footer-language {
    margin-top: 53px;
}


/* #endregion */